.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 25px;
  border-radius: 10px;
}

.item {
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  opacity: 1;
  cursor: default;
  padding: 0;
  margin: 5px auto;
  background-color: var(--appbar-background);
}

.loading {
  opacity: 0.5;
  filter: blur(1px);
}

.item:hover {
  background: radial-gradient(
    circle,
    rgba(145, 158, 207, 0.9893207282913166) 81%,
    rgba(187, 167, 205, 0.9473039215686274) 100%
  );
}
