.StatusBar {
  border: 1px solid #000;
  padding: 15px;
  width: 400px;
  border-radius: 10px;
  background-color:var(--appbar-background);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* margin-bottom: 20px; */
  margin: 20px  auto 10px;
}

.StatusBar:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #eee;
}

.infoSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.counter {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.counter__header {
  margin: 0;
}
.buttons {
  display: flex; 
  justify-content:space-evenly;
  align-items: center;
  width: 110px;
}
.counter__data {
  margin: 0;
  font-size: 20px;
}

.button_sort {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.button_sort:hover {
  opacity: 1;
}



.button_delete {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.button_delete:hover {
  opacity: 1;
}

/* .button_delete::before {
  content: 'Remove all contacts?';
  display: none;
  width: 150px;
  height: 50px;
  font-size: 16px;
  margin-top: 0;
  position: absolute;
  transition: all 550ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  right: 70px;
}

.button_delete:hover::before {
  display: block;
  opacity: 1;
} */

.icon {
  width: 30px;
  height: 30px;
}
