@import-normalize; /* bring in normalize.css styles */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --background: rgb(248, 248, 248);
  --background-hover: rgb(238, 238, 238);
  --appbar-background: rgb(228, 228, 228);
}
